<!-- home.component.html -->
<div *ngIf="episodeData; else loading">
    <ul>
      <li *ngFor="let episode of episodeData">
        <div>
          {{ episode.name }}
          <!-- Botón para obtener los personajes -->
          <button (click)="onFetchCharacters(episode)">Mostrar Personajes</button>
        </div>
        <!-- Mostrar los personajes del episodio -->
        <div *ngIf="episode.characters && episode.characters.length > 0">
          <ul>
            <li *ngFor="let character of episode.characters">
              {{ character.name }}
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  
  <ng-template #loading>
    <p>Cargando episodios...</p>
  </ng-template>
